<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dgm-site-verification" content="1040-CK3bO8u6RjaJbI2FGXYK8CIlEnHJuL" />
    <title>@ViewBag.Title - Aspire Apps</title>
    @Scripts.Render("~/12bundles/jquery")
    @Scripts.Render("~/12bundles/jqueryval")
    @Scripts.Render("~/12bundles/bootstrap")
    @Scripts.Render("~/12bundles/modernizr")
    @Styles.Render("~/12Content/css")
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Aspire Apps</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="" data-toggle="modal" data-target="#aboutUsModal" id="liAbout">About Us</a></li>
                            <li><a href="" data-toggle="modal" data-target="#contactUsModal" id="liContact">Contact Us</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a id="liAndroidApps" href="#AndroidAppsPanel">Android Apps</a></li>
                                    <li><a id="liWindowsApps" href="#WindowsAppsPanel">Windows Apps</a></li>
                                    <li><a id="liiOSApps" href="#iOSAppsPanel">iOS Apps</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Web Apps</li>
                                    <li><a href="#">Movies List</a></li>
                                    <li>@Html.ActionLink("Movies", "Index", "Movies") </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="alertContainer"></div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="modal fade" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="aboutUsModal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="aboutUsModal-label">About Us</h4>
                        </div>
                        <div class="modal-body">
                            <p>Aspire Apps is a mobile app development company. We have newtwork of apps developed for android and windows phone and we are looking forword to develop apps fro iOS.</p>
                            <div class="row">
                                <div class="col-lg-4"><p>Aspire Apps is a mobile app development company. We have newtwork of apps developed for android and windows phone and we are looking forword to develop apps fro iOS.</p></div>
                                <div class="col-lg-4"><p>Aspire Apps is a mobile app development company. We have newtwork of apps developed for android and windows phone and we are looking forword to develop apps fro iOS.</p></div>
                                <div class="col-lg-4"><p>Aspire Apps is a mobile app development company. We have newtwork of apps developed for android and windows phone and we are looking forword to develop apps fro iOS.</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="contactUsModal-label">Contact Us (contact@aspireapps.in)</h4>
                        </div>
                        <form name="contactForm" id="contactForm" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="txtName">Name</label>
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Your Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="form-group-input">Email</label>
                                    <input type="email" class="form-control" id="EmailFrom" name="EmailFrom" placeholder="ex: someone@domain.com" required>
                                </div>
                                <div class="form-group">
                                    <label for="Message">Subject</label>
                                    <input class="form-control" id="Subject" name="Subject" placeholder="Enter your message here..." required />
                                </div>
                                <div class="form-group">
                                    <label for="Message">Message</label>
                                    <textarea class="form-control" role="note" id="Message" name="Message" placeholder="Enter your message here..." required></textarea>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-6">
                            &copy; @DateTime.Now.Year - Aspire Apps, PVT Ltd
                             - @Html.ActionLink("Privacy Policy", "Privacy")
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                            <span class="footerLink pull-right" data-toggle="modal" data-target="#aboutUsModal"><span class="glyphicon glyphicon-user"></span>About Us</span>
                            <span class="footerLink pull-right" data-toggle="modal" data-target="#contactUsModal"><span class="glyphicon glyphicon-envelope"></span>Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
