@model AspireApps.ViewModels.IndexVM

@{
    ViewBag.Title = "Home Page";
}

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @{
            var count = 0;
            foreach (var item in @Model.HomePageItems)
            {
                <li data-target="#my-carousel" data-slide-to=@count class="active"></li>
                count++;
            }
        }
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img alt="First slide" src=@Model.HomePageItems[0].ImageURL>
            <div class="carousel-caption">
                <h3>@Model.HomePageItems[0].Heading</h3>
                <p>@Model.HomePageItems[0].Description</p>
            </div>
        </div>

        @foreach (var item in @Model.HomePageItems.Skip(1))
        {
            <div class="item">
                <img alt="Second slide" src=@item.ImageURL>
                <div class="carousel-caption">
                    <h3>@item.Heading</h3>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="panel-group" id="accordion">
    <div id="AndroidAppsPanel" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" style="margin-left:10px;" data-toggle="collapse" data-target="#AndroidApps">
                <img src="~/Content/Images/AndroidBlack.png" class="platformImage" /> <span class="" style="font-size:large;">Android Apps</span>
            </h2>
        </div>
        <div id="AndroidApps" class="panel-collapse collapse">
            <ul class="list-group">
                @foreach (var androidApp in @Model.AndroidAppList)
                {
                    <li class="list-group-item" data-href="@androidApp.StoreURL">
                        <div class="media appList">
                            <a class="pull-left" target="_blank" href="@androidApp.StoreURL">
                                <img class="media-object platformImage" src="@androidApp.ImageURL" alt="@androidApp.Name">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@Html.Display(@androidApp.Name)</h4>
                                @androidApp.Description
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="WindowsAppsPanel" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" style="margin-left:10px;" data-toggle="collapse" data-target="#WindowsApps">
                <img src="~/Content/Images/WindowsBlack.png" class="platformImage" /> Windows Apps
            </h4>
        </div>
        <div id="WindowsApps" class="panel-collapse collapse">
            <ul class="list-group">
                @foreach (var windowsApp in @Model.WindowsAppList)
                {
                    <li class="list-group-item">
                        <div class="media appList">
                            <a class="pull-left" href="@windowsApp.StoreURL">
                                <img class="media-object platformImage" src="@windowsApp.ImageURL" alt="@windowsApp.Name" >
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@Html.Display(@windowsApp.Name)</h4>
                                @windowsApp.Description;
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="iOSAppsPanel" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" style="margin-left:10px;" data-toggle="collapse" data-target="#iOSApps">
                <img src="~/Content/Images/iOSBlack.png" class="platformImage" /> iOS Apps (coming soon...)
            </h4>
        </div>
        <div id="iOSApps" class="panel-collapse collapse">
            <div class="panel-body">
                coming soon...
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/js/HomeIndex.js"></script>
}

@section styles
{
    <link href="~/Content/css/HomeIndex.css" rel="stylesheet" />
}